.black{
	background-color: black;
	}
.grey{
	background-color: rgb(133, 133, 133);
	}
.green{
	background-color: rgb(173, 231, 156);
	}
.box{
	height: 80px;
	width: 80px;
	position: absolute;
	}
.slidecontainer {
	width: 100%;
	}

.slider {
	-webkit-appearance: none;
	width: 200px;
	height: 15px;
	border-radius: 5px;
	background: #d3d3d3;
	outline: none;
	opacity: 0.7;
	-webkit-transition: .2s;
	transition: opacity .2s;
	}

.slider:hover {
	opacity: 1;
	}

.slider::-webkit-slider-thumb {
	-webkit-appearance: none;
	appearance: none;
	width: 25px;
	height: 25px;
	border-radius: 50%;
	background: #4CAF50;
	cursor: pointer;
	}

.slider::-moz-range-thumb {
	width: 25px;
	height: 25px;
	border-radius: 50%;
	background: #4CAF50;
	cursor: pointer;
	}
.start-white{
	background-color:rgb(173, 231, 156);
	border-radius: 3px;
	border-color: #4caf4f00;
	margin-bottom: 10px;
	} 
.start-grey{
	background-color:rgb(78, 78, 78);
	border-radius: 3px;
	border-color: #4caf4f00;
	margin-bottom: 10px;
	}
.edge{
	/* background-color: rgba(234, 236, 206, 0.664); */
	width: 1800px;
	height: 900px;
	border:2px solid rgb(173, 231, 156);
	overflow:hidden;
}
.green{

	
}